/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of style reset */

body {
    font-family: 'Roboto Mono', monospace;
	background-image: url("../img/working_trimmed.jpg");
	background-size: cover;
	background-position: center;
    /* background-color: #cccccc; */
}

a {
	color: #E6E6FA;
}

#header {
    width: 100%;
	padding: 20px;
    height: 70px;
    /* background-color: #444444; */
	opacity: .8;
}

#header_name {
	color: white;
	font-size: 3em;
}

#main {
    width: 100%;
    height: 600px;
    /* background-image: url("../img/working_trimmed.jpg"); */
    /* background-color: #cccccc; */
    /* background-size: cover; */
}

#floating_card {
    background-color: #000;
	line-height: 1.6;
	color: white;
	margin: 100px 40px;
	padding: 50px;
    opacity: .7;
}

#social_links {
	text-align: center;
}
 